.reveal_nft {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .content_box {
    text-align: center;

    img {
      width: 100%;
      max-width: 408px;
      margin: 10% 0;
    }

    .input_box {
      max-width: 450px;
      margin-top: 10%;
      display: flex;
      border-radius: 10px;
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif !important;
      font-weight: 600;
      align-items: end;
      color: #FFF;

      span {
        padding: 1.5rem 3rem ;
        margin: 0 1rem 0 0;
        background: none;
        border: 2px solid #FFF;
      }

      input {
        border: 0;
        border-bottom: 2px solid #FFF;
        background: none;
        padding-bottom: 1rem;
        width: 100%;
        outline: none;
        color: #000;
        text-align: center;
        font-family: 'Poppins', sans-serif !important;
        font-weight: 600;
        font-size: 2rem;
        color: #FFF;
      }
    }
  }

}

.reveal_btn {
  background: #ffea00;
  border: 0;
  overflow: hidden;
  width: 20rem;
  height: 5rem;
  outline: none;
  border-radius: 10rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0 auto;
}

.alert_msg {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.8rem;
  white-space: pre-wrap
}

.alert_box {
  justify-content: center !important;

  .alert_btn {
    display: inline-block;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.5rem;
    background: #ccc;
    color: #000;
    border-radius: 1rem;
    border: none;
    padding: 5px 10px;
  }

  .mint_btn {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.point_color{background: #ffea00!important;color:#000!important;}
